@model IEnumerable<FinalProject.Models.Product>

    @{
    ViewData["Title"] = "DisplayAll";
    }

    <h1>DisplayAll</h1>
   

    <p>
        <a asp-action="Insert">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductManufacturedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductWeight)
                </td>
                <td>
                    @Convert.ToDateTime(item.ProductManufacturedDate).ToLongDateString().Replace(item.ProductManufacturedDate.DayOfWeek.ToString()+ ", ", "")
                </td>
                <td>
                    @Convert.ToDateTime(item.ProductExpiryDate).ToLongDateString().Replace(item.ProductExpiryDate.DayOfWeek.ToString()+ ", ", "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Displayone" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
